<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item "routerLinkActive="active bg-success">
          <a class="nav-link active" aria-current="page" routerLink="/Home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active bg-success">
          <a class="nav-link active" aria-current="page" routerLink="/AboutUs">About Us</a>
        </li>
        <li class="nav-item" routerLinkActive="active bg-success">
          <a class="nav-link active" aria-current="page" routerLink="/Products">Products</a>
        </li>
        <li class="nav-item" routerLinkActive="active bg-success">
          <a class="nav-link active" aria-current="page" routerLink="/ContactUs">Contact Us</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" routerLink="/Login">
            <span *ngIf="!isUserLoggedIn">Login</span>
            <span *ngIf="isUserLoggedIn">Logout</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active bg-success">
          <a class="nav-link active" aria-current="page" routerLink="/AddProduct">Add Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/Register" routerLinkActive ="bg-success">Register</a>
        </li>
        <button class="btn btn-primary" (click)="changeLang()">Change Language</button>

        <!-- <li class="nav-item" routerLinkActive="active bg-success">
          <a class="nav-link active" aria-current="page" routerLink="/UpdateProduct">UpdateProduct</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

